/*  GERAL  */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
    list-style: none;
}

p{
    font-size: 56px;
}

button{
    font-size: 16px;
    text-transform: none;
    -webkit-appearance: button;
    border-style: none;
}

body{
    color: #ffff;
    background-color: rgb(116, 116, 116);
    font-family: 'Fira Sans', sans-serif;
}