/*  GERAL  */






body{
    color: #fff;
    background-color: #fafafa;
    font-family: 'Fira Sans', sans-serif;
}

/*  header e barra de navegação  */



button{
    font-size: 16px;
    text-transform: none;
    -webkit-appearance: button;
    border-style: none;
    display: flex;
    width: 100%;
    height: 65px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
    background-color: #D22B49;
    color: #FFFFFF;
}

.quero-ir-btn:hover{
    background-color: #F26B35;
    color: #FFFFFF;
}

/* FONTES */

a{
    text-decoration: none;
}

h2{
    font-size: 80px;
    font-weight: 900;
    color: #D22B49;
}
@media (max-width:768px) {
    h2{
        font-size: 60px;
    }
}


h3{
    font-size: 50px;
    color: #F26B35;
    font-weight: 900;
}

h4{
    font-size: 24px;
    font-weight: 900;
    color: #292829;
}

@media (max-width:768px) {
    h3{
        font-size: 18px;
    }
    h4{
        font-size: 10px;
    }
}


.location-1{
    font-size: 16px;
    font-weight: 900;
    color: #292829;
    margin-bottom: 5px;
}

.location-2{
    font-size: 16px;
    font-weight: 300;
    color: #292829;
}

@media (max-width:768px) {
    .location-1{
        font-size: 14px;
    }
    
    .location-2{
        font-size: 10px;
    }
}

.title{
    font-size: 50px;
    font-weight: 300;
    color: #555234;
}

@media (max-width:768px) {
    .title{
        font-size: 33px;
    }    
    .proximas-datas .title{
        padding-left: 18px;
        margin-bottom: 8px;

    }    
}

/* section - AGENDA */

.agenda{
    background-image: url(../img/Imagem\ 97.png);
    padding-bottom: 105px;
    overflow: hidden;
    padding-top: var(--header-height);
    margin-top: calc(0px - var(--header-height));
}
@media (max-width:768px) {  
    .agenda{
        padding-bottom: 120px;
    }
}


.agenda-frame{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-top: 25px;
}

.agenda-datas{
   /*  height: 779px; */
    width: 100%;
    max-width: 928px;
    position: relative;
}

.a-seguir-frame{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 54px;
}

@media (max-width:768px) {
    .a-seguir-frame{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 45px;
        margin-bottom: 58px;
    }    
}


.location{
    display: flex;
    align-items: center;
    justify-content: stretch;
    gap: 12px;
}

@media (max-width:768px) {
    .location{
        gap: 9px;
    }
}

.location-1 p{
    margin-bottom: 5px;
}

.a-seguir-btn{
    width: 100%;
    max-width: 338px;
}

.data{
    height: 165px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid transparent;

}
@media (max-width:768px) {
    .data{
        height: 67px;
    }
}

.data:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-color: #D22B49;
    opacity: 1;
}


.proximas-datas-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

@media (max-width:768px) {
    .proximas-datas{
        max-width: 560px;
        margin: 0 auto;
    }

    .proximas-datas-grid{
        gap: 8px;
        padding: 0 10px;
        max-width: 520px;
        margin: 0 auto;
    }
}

.proximas-datas p{
    padding-bottom: 0px;
    margin-bottom: 23px;
}


.a-seguir-proximo h2{
    margin-bottom: 22.41px;
}

.a-seguir-proximo p{
    margin-bottom: 5px;
}

[class*="flamingo-"]{
    position: absolute;
    bottom: 0;
    --offset: -300px;
}

.flamingo-direita {
    right: var(--offset)
}

.flamingo-esqueda {
    left: calc(var(--offset) - 68px);
}

@media (max-width: 768px){
    [class*="flamingo-"]{
        --offset: 0px;
        bottom: -121px;
        height: 100px;
        width: auto;
    }
    
    .flamingo-esqueda {
        left: calc(var(--offset) - 0px);
    }

}