/*  GERAL  */


body{
    color: #ffff;
    background-color: #151515;
    font-family: 'Fira Sans', sans-serif;
}

main{
    padding-top: 148px;
    padding-bottom: 140px;
}

/* GALERIA */
.galeria h2{
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 900;
}

.imagem-maior-container{
    height: 463px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 43px;
}

.imagem-maior{
    height: 100%;
    max-height: 100%;
    width: auto;
}

/* SLIDER */


.slider{
    position: relative;
    max-width: 100%;
    margin: auto;
    padding: 0 88px;
}

.slider li{
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.slider .thumbnail-container{
    border: 7px solid white;
    height: 170px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}

.slider .thumbnail-container img{
    height: 100%;
}

.slick-arrow{
    height: 35px;
    width: 35px;
    border: 7px solid white;
    border-bottom: none;
    position: absolute;
    top: calc(50% - 17px);
    border-radius: 5px;
    --offset: 35px;
    cursor: pointer;
}

.slick-arrow.slick-prev{
    border-right: none;
    transform: rotate(-45deg);
    left: var(--offset); 
}

.slick-arrow.slick-next{
    border-left: none;
    transform: rotate(45deg);
    right: var(--offset);
}

/* MAIN */
.galeria{
    display: flex;
    flex-direction: column;
    align-items: center;
}
