/*  GERAL  */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
    list-style: none;
}

.max-container{
    width: calc(84vw);
    max-width: 1400px;
    margin: 0 auto;
}

body{
    color: #ffff;
    background-color: #292829;
    font-family: 'Fira Sans', sans-serif;
}

/*  header e barra de navegação  */

header{
    background: transparent linear-gradient(180deg, #000000 0%, #00000000 100%) 0% 0% no-repeat padding-box;
    opacity: 0.5;
    position: absolute;
    width: 100%;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 148px;
}

.navbar ul{
    display: flex;
}

.links li a{
    text-decoration: none;
    color: #ffff;
    font-size: 14px;
}

.links {
    gap: 22px;
}

.links li a:hover{
    color: #FFFFFF;
    opacity: 60%;
}

.icons {
    gap: 46px;
}

.nav-spotify:hover{
    fill: #47D760;
}

.nav-deezer:hover{
    fill: #EBDD8E;
}

.nav-apple-music:hover{
    fill: #EE595B;
}

.nav-youtube:hover{
    fill: #F61900;
}

.nav-facebook:hover{
    fill: #0E6BE3;
}

.nav-instagram:hover{
    fill: #0E6BE3;
}

.nav-twitter:hover{
    fill: #2AA0F2;
}

/* SLIDER */

.slider li{
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.slider{
    position: relative;
    max-width: 1200px;
    margin: auto;
    padding: 0px;
}

.slick-arrow{
    position: absolute;
    top: 50%;
}

.slick-arrow.slick-prev{
    left: 0;
}

.slick-arrow.slick-next{
    right: 0px;
}

/* MAIN */

.galeria{
    border: solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(84vw);
    max-width: 1400px;
    height: 944px;
    margin: 0 auto;

}

.imagem-maior{
    border: solid red;
    width: 655px;
    height: 463px;
}