/*  GERAL  */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
    list-style: none;
}

.max-container{
    width: calc(84vw);
    max-width: 1400px;
    margin: 0 auto;
}

.hidden{
    display: none;
}

/* p{
    font-size: 56px;
} */

button{
    font-size: 16px;
    text-transform: none;
    -webkit-appearance: button;
    border-style: none;
}

body{
    color: #ffff;
    background-color: #292829;
    font-family: 'Fira Sans', sans-serif;
}

/*  header e barra de navegação  */

header{
    background: #000000;
    background: linear-gradient(180deg, #000000 -30%, #00000000 60%);
    position: absolute;
    width: 100%;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 148px;
}

.navbar ul{
    display: flex;
}

.links li a{
    text-decoration: none;
    color: #ffff;
    font-size: 14px;
}

.links {
    gap: 22px;
}

.links li a:hover{
    color: #FFFFFF;
    opacity: 60%;
}

.icons {
    gap: 46px;
}

.nav-spotify:hover{
    fill: #47D760;
}

.nav-deezer:hover{
    fill: #EBDD8E;
}

.nav-apple-music:hover{
    fill: #EE595B;
}

.nav-youtube:hover{
    fill: #F61900;
}

.nav-facebook:hover{
    fill: #0E6BE3;
}

.nav-instagram:hover{
    fill: #0E6BE3;
}

.nav-twitter:hover{
    fill: #2AA0F2;
}

/* banner 01 - OUÇA AGORA */

.ouca-agora{
    background-image: url(../img/imagem-74-opacidade.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    height: 944px;
    padding-top: 148px;
}

.ouca-agora p{
    font-weight: 900;
    width: 347px;
    height: 64px;
}

.frame-ouca-agora{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    padding-bottom: 100px;
}

.frame-ouca-agora-itens{
    display: flex;
    flex-direction: column;
    padding-left: 35px;
    padding-top: 25px;
}

.frame-ouca-agora-btns{
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
}

.frame-ouca-agora-btns button{
    display: flex;
    width: 160px;
    height: 42px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Fira Sans', sans-serif;
}

.spotify-btn:hover{
    color: #ffff;
    background-color: #47D760;
}

.apple-music-btn:hover{
    color: #ffff;
    background: transparent linear-gradient(180deg, #F05C5C 0%, #C90441 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}

.frame-ouca-agora-itens > h2 {
    font-size: 56px;
}

.frame-ouca-agora-btns span{
    margin-right: 10px;
}

.frame-ouca-agora-btns a{
    text-decoration: none;
}

.frame-ouca-agora-btns img{
    margin: 10px;
}

.container-ouca-agora{
    display: flex;
}

/* banner 02 - PRÓXIMOS SHOWS */

.proximos-shows{
    background-image: url(../img/Imagem\ 80.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FAFAFA;
    color: #F26B35;
}

.proximos-shows-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.proximos-shows-frame{
    display: flex;
    justify-content: space-between;
}

.proximos-shows-datas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 57px 0px 137px 0px ;
}

.proximos-shows-datas h1{
    font-size: 40px;
    font-weight: 200;
    text-decoration: none;
    color: #555234;
    padding: 0px 0px 6px 0px;
}

.proximos-shows-datas h2{
    color: #D22B49;
    font-weight: 900;
    font-size: 60px; 
    padding: 0px 0px 20px 0px;
}

.proximos-shows-datas h3{
    font-size: 36px;
}

.proximos-shows-datas button{
    font-size: 16px;
    color: #ffff;
    width: 338px;
    height: 65px;
    background-color: #000000;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 40px;
}

.proximos-shows-gaita img{
    margin-top: 39px;
    }

.proximos-shows-datas button a{
    text-decoration: none;
    color: #ffff;
}

.confira-agenda-btn:hover{
    background-color: #D22B49;
    color: #ffff;
}

.proximos-shows-container-2 {
    display: flex;
    align-items: flex-end;
}


/* banner 03 - PLAYER */

.player{
    background-color: #292829;
}

.player-frame{
    width: 1680px;
    height: 944px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
}

.player-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 0px 102px 48px;
    margin-right: 140px;
}

.player-maior > h2{
    font-size: 56px;
    margin-bottom: 19px;
    margin-top: 81px;
}

.player-flamingo img{
    margin-top: 161px;
}

.player-maior p{
    font-weight: 900;
    margin: 102px 0px 39px 0px;
    }

.iframe-wrapper{
    width: 100%;
}

.iframe-wrapper iframe{
    width: 100%;
    height: 456px;
}

.players-menores {
    display: flex;
    justify-content: space-between;
    margin: 18px 0px 18px 0px;
}



.player-container a button{
    width: 810px;
    height: 65px;
    font-size: 16px;
    color: #ffff;
    background-color: #D22B49;
    font-family: 'Fira Sans', sans-serif;
}

.veja-mais-btn:hover{
    background-color: #C29B31;
    color: #ffff;
}

/* banner 04 - CONTATO */

.contato{
    background-image: url(../img/Imagem\ 79.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.contato-frame h2{
    margin: 102px 0px 39px 140px;
    font-size: 56px;
}

.contato-frame{
    width: 1680px;
    height: 944px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contato-form form{
    display: flex;
    flex-direction: column;
    height: 724px;
    width: 574px;
    margin: 0px 0px 0px 140px;
    gap: 38px;
}

.contato-form form select, .contato-form form input, .contato-form form textarea{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: unset;
    border: unset;
    border-bottom: 1px solid white;
    font-size: 16px;
    font-family: 'Fira Sans', sans-serif;
    color: white;
    padding-left: 30px;
    padding-bottom: 15px;
    outline: unset;
}

.contato-form form input::placeholder, .contato-form form textarea::placeholder{
    color: white;
    opacity: 1;
}

.contato-form form input:focus::placeholder, .contato-form form input:focus::placeholder{
 opacity: 0;
 outline: unset;
}



.contato-form form button{
    margin-top: 71px;
    width: 574px;
    height: 65px;
    font-size: 16px;
    color: #ffff;
    background-color: #282829;
    font-family: 'Fira Sans', sans-serif;
}

.form-btn:hover{
    color: #ffff;
    background-color: #C29B31;
}

.select-menu{
    border-bottom: 1px solid white;
}

.seletor{
    display: flex;
    gap: 10px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Fira Sans', sans-serif;
    color: white;
    padding-left: 30px;
    padding-bottom: 15px;
    position: relative;
    text-transform: uppercase;
}

.seletor-seta{
    position: absolute;
    top: -22px;
    right: 17px;
    transform: rotate(180deg);
}

.select-menu.active .seletor-seta{
    transform: rotate(0deg);
}

.opcoes{
    display: none;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 10px;
    padding-left: 50px;
    gap: 10px;
    font-size: 17px;
}

.opcoes p{
    cursor: pointer;
}

.select-menu.active .opcoes{
    display: flex;
}

/* FOOTER */

.footer-frame{
    background-color: #292829;
    height: 71px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

footer{
    height: 71px;
    position: relative;
}

.tel a{
    font-size: 12px;
    text-decoration: none;
    color: #ffff;
}

.email a{
    font-size: 12px;
    text-decoration: none;
    color: #ffff;
}

.copyright{
    width: 195px;
    height: 32px;
}

.copyright p{
    font-size: 12px;
    color: #ffff;
}

.vinci{
    width: 196px;
    height: 32.83px;
    display: flex;
    align-items: center;
}

.vinci p{
    font-size: 12px;
    color: #ffff;
}

.vinci img{
    margin: 0px 0px 0px 16px;
}

.footer-contato{
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer-contato>div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer-frame .line {
    border-right: 1px solid white;
    height: 42px;
}

.footer-frame > .copyrigth-container{
    display: flex;
    align-items: center;
    gap: 70px;
}

.footer-gaita{
    position: relative;
    top: -53px;
    left: 90px;
    right: 0;
    bottom: 0;
    margin: 0 auto 0 auto;
}

@media(max-width: 1280px){
    .player-frame{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        width: 1680px;
        height: 1280px;
    }

    .player-flamingo {
        display: flex;
        justify-content: center;
    }

    .player-flamingo > img{
        margin: 0;
        max-width: 50%;
    }

    .player-maior {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .player-container{
        margin:0;
        display: flex;
        justify-content: center;
    }

    .btn-videos{
        width: 85%;
    }

    .players-menores {
        width: 85%;
        margin: 18px 38px 18px 38px
    }

    .player-maior > iframe {
        width: 85%; 
    }
}
