

a{
    text-decoration: none;
    color: inherit;
}

h1{
    font-size: 56px;
    font-weight: 900;
}

button{
    font-size: 16px;
    text-transform: none;
    -webkit-appearance: button;
    border-style: none;
}

body{
    color: #ffff;
    font-family: 'Fira Sans', sans-serif;
    background-color: #c29b31 ;
}

.release{
    padding-top: 150px;
    min-height: 945px;
    max-width: 100%;
    margin: 0 auto;
    background-image: url(../img/Imagem\ 99.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1680px;
}

.realease-frame{
    padding-left: 127px;
    width: 819px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.realease-frame h1{
    margin-bottom: 14px;
}

.realease-frame p{
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 20px;
}

.realease-frame > p:nth-child(6) {
    margin-bottom: 3px;
    margin-bottom: 40px;
}

.release-buttons {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    }

button{
    font-size: 16px;
    text-transform: none;
    border-style: none;
    display: flex;
    width: 338px;
    height: 65px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
}

.btn-1{
    background-color: #D22B49;
    color: #FFFFFF;
}

.btn-1:hover{
    background-color: #292829;
}

.btn-2{
    background-color: #292829;
    color: #FFFFFF;
}

.btn-2:hover{
    background-color: #D22B49;
}

/* FOOTER */




@media (max-width: 480px){

    .release {
        justify-content: center;
        height: 1291px;
        width: 100%;
        }

    .realease-frame {
        margin-left: 0px;
        width: 376px;
        line-height: 21px;
        height: 1150px;
        }

    .release-buttons {
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        gap: 14px;
        }

    .realease-frame > h1{
        align-items: center;
        display: flex;
        justify-content: center;
        margin-bottom: 36px;
        font-size: 33px;
    }

    .realease-frame p {
        font-size: 18px;
    }

    /* FOOTER */
  
}