/*  GERAL  */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

.max-container{
    width: calc(84vw);
    max-width: 1400px;
    margin: 0 auto;
}

/*  header e barra de navegação  */

header{
    background: #000000;
    background: linear-gradient(180deg, #000000 -30%, #00000000 60%);
    position: absolute;
    width: 100%;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 148px;
}

.navbar ul{
    display: flex;
}

.links li a{
    text-decoration: none;
    color: #ffff;
    font-size: 14px;
}

.links {
    gap: 22px;
}

.links li a:hover{
    color: #FFFFFF;
    opacity: 60%;
}

.icons {
    gap: 46px;
}

.nav-spotify:hover{
    fill: #47D760;
}

.nav-deezer:hover{
    fill: #EBDD8E;
}

.nav-apple-music:hover{
    fill: #EE595B;
}

.nav-youtube:hover{
    fill: #F61900;
}

.nav-facebook:hover{
    fill: #0E6BE3;
}

.nav-instagram:hover{
    fill: #0E6BE3;
}

.nav-twitter:hover{
    fill: #2AA0F2;
}

/**/

a{
    text-decoration: none;
}

h1{
    font-size: 56px;
    font-weight: 900;
}

button{
    font-size: 16px;
    text-transform: none;
    -webkit-appearance: button;
    border-style: none;
}

body{
    color: #ffff;
    font-family: 'Fira Sans', sans-serif;
    background-color: #292829 ;
}

.release{
    height: 945px;
    max-width: 100%;
    margin: 0 auto;
    background-image: url(../img/Imagem\ 99.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: center;
}

.realease-frame{
    height: 690px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 258px;
}

.realease-frame h1{
    margin-bottom: 14px;
}

.realease-frame p{
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 20px;
}

.realease-frame > p:nth-child(6) {
    margin-bottom: 3px;
    margin-bottom: 40px;
}

.release-buttons {
    display: flex;
    justify-content: space-between;
    }

button{
    font-size: 16px;
    text-transform: none;
    border-style: none;
    display: flex;
    width: 338px;
    height: 65px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
}

.btn-1{

    background-color: #292829;
    color: #FFFFFF;
}

.btn-1:hover{
    background-color: #D22B49;
}

.btn-2{
    background-color: #292829;
    color: #FFFFFF;
}

.btn-2:hover{
    background-color: #D22B49;
}

/* FOOTER */

.footer-frame{
    background-color: #292829;
    height: 71px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

footer{
    height: 71px;
    position: relative;
}

.tel a{
    font-size: 12px;
    text-decoration: none;
    color: #ffff;
}

.email a{
    font-size: 12px;
    text-decoration: none;
    color: #ffff;
}

.copyright{
    width: 195px;
    height: 32px;
}

.copyright p{
    font-size: 12px;
    color: #ffff;
}

.vinci{
    width: 196px;
    height: 32.83px;
    display: flex;
    align-items: center;
}

.vinci p{
    font-size: 12px;
    color: #ffff;
}

.vinci img{
    margin: 0px 0px 0px 16px;
}

.footer-contato{
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer-contato>div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer-frame .line {
    border-right: 1px solid white;
    height: 42px;
}

.footer-frame > .copyrigth-container{
    display: flex;
    align-items: center;
    gap: 70px;
}

.footer-gaita{
    position: relative;
    top: -53px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto 0 auto;
}



@media (max-width: 414px){

    .release {
        border: blue;
        justify-content: center;
        height: 1291px;
        width: 100%;
        }

    .realease-frame {
        margin-left: 0px;
        height: 690px;
        width: 692px;
        height: 885px;
        width: 376px;
        line-height: 21px;
        }

    .release-buttons {
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        gap: 14px;
        }

    .realease-frame > h1{
        align-items: center;
        display: flex;
        justify-content: center;
        margin-bottom: 36px;
        font-size: 33px;
        }

    /* FOOTER */

    div .line{
        display: none;
    }
    

        
}