

a{
    text-decoration: none;
    color: inherit;
}

h1{
    font-size: 56px;
    font-weight: 900;
}

button{
    font-size: 16px;
    text-transform: none;
    -webkit-appearance: button;
    border-style: none;
}

body{
    color: #ffff;
    font-family: 'Fira Sans', sans-serif;
    background-color: #292829;
}

.release{
    min-height: 945px;
    max-width: 100%;
    margin: 0 auto;
    background-image: url(../img/Imagem\ 99.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    padding-top: var(--header-height);
    margin-top: calc(0px - var(--header-height));
    background-color: #c29b31;
}
@media (max-width:1660px) {
    .release{
        background-position: top 0  right 0;
    }
 
}

.release-frame{
    padding-left: 127px;
    width: 819px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
@media (max-width: 1100px) {
    .release-frame{
        padding: unset;    
        margin: auto;
        width: 692px;
    }
}

.release-frame h1{
    margin-bottom: 14px;
}

.release-frame p{
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 20px;
}

.release-frame > p:nth-child(6) {
    margin-bottom: 3px;
    margin-bottom: 40px;
}

.release-buttons {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    }

button{
    font-size: 16px;
    text-transform: none;
    border-style: none;
    display: flex;
    width: 338px;
    height: 65px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
    cursor: pointer;
}

.btn-1{
    background-color: #D22B49;
    color: #FFFFFF;
}

.btn-1:hover{
    background-color: #292829;
}

.btn-2{
    background-color: #292829;
    color: #FFFFFF;
}

.btn-2:hover{
    background-color: #D22B49;
}

/* FOOTER */




@media (max-width: 768px){

    .release {
        justify-content: center;
        height: auto;
        width: 100%;
        padding-bottom: 50px;
        background-position: top 30px right calc(-600px - -50vw);
        /* background-size: 1920px; */
        }


    .release-buttons {
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        gap: 14px;
        }

    .release-frame > h1{
        align-items: center;
        display: flex;
        justify-content: center;
        margin-bottom: 36px;
        font-size: 33px;
    }

    .release-frame p {
        font-size: 18px;
    } 

    /* FOOTER */
  
}